{% extends 'base.html' %}

{% block content %}
<div class="container my-5">
    <h1 class="text-center mb-4" style="margin-top: 110px;">Admin Dashboard</h1>

    <div class="row">
        <div class="col-md-4 mb-4">
            <div class="card shadow-sm">
                <div class="card-body text-center">
                    <h5 class="card-title">Company </h5>
                    <p class="card-text text-muted">Manage all company records.</p>
                    <a href="{% url 'company_list' %}" class="btn btn-primary">View</a>
                </div>
            </div>
        </div>
        <div class="col-md-4 mb-4">
            <div class="card shadow-sm">
                <div class="card-body text-center">
                    <h5 class="card-title">Event </h5>
                    <p class="card-text text-muted">Manage upcoming events.</p>
                    <a href="{% url 'event_list' %}" class="btn btn-primary">View</a>
                </div>
            </div>
        </div>
        <div class="col-md-4 mb-4">
            <div class="card shadow-sm">
                <div class="card-body text-center">
                    <h5 class="card-title">News </h5>
                    <p class="card-text text-muted">Manage all news updates.</p>
                    <a href="{% url 'news_list' %}" class="btn btn-primary">View</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
